{% extends "kitchen/base.html" %}

{% block body %}
<div class="panel panel-default" id="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Matlagningsrecept</h3>
    </div>
    <div class="panel-body">
        <ul class="mylist">
            {% for recipe in recipes %}
                <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></li>
            {% empty %}
                Finns inga tillagda recept
            {% endfor %}
        </ul>
        <a href="{% url 'recipe_add' %}" class="btn btn-success btn-block">Lägg till recept</a>
    </div>
</div>
{% endblock body %}