{% extends "kitchen/base.html" %}

{% block body %}
<div class="panel panel-default" id="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Matkatalogen</h3>
    </div>
    <div class="panel-body">
        <ul class="mylist">
            {% for item in food %}
                <li><a href="{% url 'kitchen_add' 'fooditem' item.id %}?next={% firstof request.path '/' %}">{{ item.name }}</a></li>
            {% empty %}
                Finns inga tillagda varor
            {% endfor %}
        </ul>
        <a href="{% url 'kitchen_add' 'fooditem' %}?next={% firstof request.path '/' %}" class="btn btn-success btn-block">Lägg till vara</a>
    </div>
</div>
{% endblock body %}